{% load cms_tags djangocms_icon_tags %}

<div class="row">
    <div class="col-md-2 link-list-image image">
        {% if object.icon %}
            <a href="{{ object.url }}">
                <i class="{{ object.icon|iconset_from_class }} {{ object.icon }} aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
    <div class="col-md-5 link-list-text link-list-url">
    {% if object.text %}
        <a href="{{ object.url }}">{{ object.text }}</a>
    {% else %}
        <a href="{{ object.url }}">{{ object.url }}</a>
    {% endif %}
    </div>
</div>
