{% load cms_tags thumbnail %}

<div class="row">
    <div class="col-md-2 link-list-image image">
        {% if object.icon %}
            {% thumbnail object.icon "25x20" crop="center" as im %}
            <a href="{{ object.url }}">
                <img src="{{ im.url }}" alt="{{ object.icon_alt }}"
                class="img-responsive media-object">
            </a>
        {% endif %}
    </div>
    <div class="col-md-5 link-list-text text">
    {% if object.text %}
        {{ object.text }}
    {% endif %}
    </div>
    <div class="col-md-5 link-list-url url">
        <a href="{{ object.url }}">{{ object.url }}</a>
    </div>
</div>
