{% load cms_tags thumbnail djangocms_icon_tags %}

<li>
  <a href="{{ object.url }}">

    {% if object.icon %}
      <i class="{{ object.icon|iconset_from_class }} {{ object.icon }}" aria-hidden="true"></i>
    {% endif %}

    {% if object.image %}
      {% thumbnail object.image "40x40" crop="center" as im %}
      <img src="{{ im.url }}" alt="{{ object.image_alt }}" class="img-responsive media-object">
    {% elif object.svg %}
      <img src="{{ object.svg.url }}" class="img-responsive media-object">
    {% endif %}

    {% if object.text %}
      {{ object.text }}
    {% else %}
      {{ object.url }}
    {% endif %}

  </a>
</li>
